{% extends "./base.html" %} {% block main %}

<script src="/static/js/jquery.min.js"></script>

<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6W0jQ0fMGMAG2ei99ExS9Z567Ymhr6yD"></script>
<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>


<div class="wrapper wrapper-content"> 
    <div class="container">
    
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="height:60px">
                        <h5>地理编码</h5>
                        <div class="ibox-tools">
                             <button class="btn btn-w-m btn-primary" onclick="addressResolution()">地址解析</button>
                             <button class="btn btn-w-m btn-primary" onclick="reverseAddressResolution()">逆地址解析</button>
                        </div>
                    </div>
                    <div class="ibox-content" >
                         <form role="form" class="form-inline">
                            <div class="form-group">
                                <label for="str_address">地址：</label>
                                <input type="text"  id="str_address" style="width:450px" class="form-control">
                            </div>
                            <label><======></label>
                            <div class="form-group">
                                <label for="exampleInputPassword2" >经度：</label>
                                <input type=""  id="longitude" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword2" >纬度：</label>
                                <input type=""  id="latitude" class="form-control">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
  



        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="height:60px">
                        <h5>坐标系转换</h5>
                        <div class="ibox-tools" >
                             <button class="btn btn-w-m btn-primary" onclick="wgs84()">WGS84</button>
                             <button class="btn btn-w-m btn-primary" onclick="gcj02()">GCJ02</button>
                             <button class="btn btn-w-m btn-primary" onclick="bd09()">BD09</button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="echarts" style="height:600px" id="bmap"></div>
                    </div>
                </div>
            </div>
        </div>

        

    </div>

    </div>     
</div>



<script type="text/javascript">
    // 百度地图API功能
	var map = new BMap.Map("bmap");
    map.enableScrollWheelZoom(true);
    var lon = 125.299036;
    var lat = 43.881182;
    var point = new BMap.Point(lon,lat);
    map.centerAndZoom(point,15);

    var coord_gcj02 = null;

    function wgs84(){
        map.addOverlay(new BMap.Marker(point));
    }

    function gcj02(){
        $.getJSON("/api/coordtransform/wgs84_to_gcj02?lon="+lon+"&lat="+lat).done(function (data){
            console.log(data);
            coord_gcj02 = data.coord;
            var point1 = new BMap.Point(data.coord[0],data.coord[1]);
            map.addOverlay(new BMap.Marker(point1));
        }).fail(function(jqXHR,textStatus){
            alert('Error: ' + jqXHR.status);
    });
    }

    function bd09(){
        if(!coord_gcj02){
            return;
        }
         $.getJSON("/api/coordtransform/gcj02_to_bd09?lon="+coord_gcj02[0]+"&lat="+coord_gcj02[1]).done(function (data){
            console.log(data);
            var point2 = new BMap.Point(data.coord[0],data.coord[1]);
            map.addOverlay(new BMap.Marker(point2));
        }).fail(function(jqXHR,textStatus){
            alert('Error: ' + jqXHR.status);
        });
    }


    var address = $('#str_address');
    var longitude = $('#longitude');
    var latitude = $('#latitude');
    var url_api = 'http://api.map.baidu.com/geocoder/v2/?';
    var ak = '6W0jQ0fMGMAG2ei99ExS9Z567Ymhr6yD';

    function addressResolution() {

        if(!address.val()){
            alert('请输入具体地址！');
            return;
        }

        var curURl = `${url_api}address=${address.val()}&output=json&ak=${ak}`;
        $.getJSON("http://eezzo.com/API/CD", { url: encodeURI(curURl) }, function(json) {
    　　　　console.log(json);
           longitude.val(json.result.location.lng);
           latitude.val(json.result.location.lat);
    　　});
    }

    function reverseAddressResolution() {

         if(! (longitude.val() && latitude.val()) ){
            alert('请输入具体经纬度！');
            return;
        }
        var curURl = `${url_api}location=${latitude.val()},${longitude.val()}&output=json&pois=1&ak=${ak}`;
        $.getJSON("http://eezzo.com/API/CD", { url: encodeURI(curURl) }, function(json) {
    　　　　console.log(json);
           address.val(json.result.formatted_address);
    　　});
    }

    
        


</script>

{% endblock %}