<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>FelineWong</title>
    <link rel="stylesheet" href="/static/css/home/main.css">
</head>

<body>
<div class="container">
    <header>
        <ul id="aboutMe">
            <li><a href="#">Blog</a></li>
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Weibo</a></li>
            <li><a href="#">Weixin</a></li>
            <li><a href="#">Email</a></li>
        </ul>
    </header>
    <div class="main">
        <ul class="timeline">
            <li>
                <time class="timeline_time" datetime="2013-04-10 18:30">
                    <span>01/05/17</span><span>22:30</span>
                </time>
                <div class="timeline_icon cbp_tmicon-phone">
                </div>
                <div class="timeline_label">
                    <h2>开发环境搭建</h2>
                    <p>
                         1.租用云服务器
                         <br>
                         2.搭建项目框架
                         <br>
                         3.部署项目中网站模块
                    </p>
                </div>
            </li>
            <li>
                <time class="timeline_time" datetime="2013-04-10 18:30">
                    <span>07/05/17</span><span>20:00</span>
                </time>
                <div class="timeline_icon cbp_tmicon-phone">
                </div>
                <div class="timeline_label">
                    <h2>坐标系转换模块完成</h2>
                    <p>
                        <a href="./baiduMap">详情请点击此处</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
    
</body>

</html>