<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>FelineWong</title>
<link rel="stylesheet" type="text/css" href="/static/css/home/normalize.css" />

<link rel="stylesheet" type="text/css" href="/static/css/home/index.css" />

<!--[if IE]>
<script src="js/html5.js"></script> 
<![endif]-->
</head>
<body>
		<div class="container demo-1">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<h1 class="main-title"><a href="#">毕业设计</a></h1>				
				</div>
				<nav class="codrops-demos">
                    <a href="#">Blog</a>
                    <a href="#">GitHub</a>
                    <a href="http://weibo.com/u/3926105914">Weibo</a>
                    <a href="#">Weixin</a>
                    <a href="#">Email</a>
				</nav>
			</div>
		</div><!-- /container -->
		<script src="/static/js/index/TweenLite.min.js"></script>
		<script src="/static/js/index/EasePack.min.js"></script>
		<script src="/static/js/index/rAF.js"></script>
		<script src="/static/js/index/demo-1.js"></script>
	</body>
</html>