{% extends "./base.html" %} {% block main %}
<script src="/static/js/echarts.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/china.js"></script>
<div class="wrapper wrapper-content"> 
    <div class="container">
       

        <div class="row">
            <div class="col-md-2">                        
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">总</span>
                        <h5>总抓取条数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 id="num_count_crawled" class="no-margins">386,200</h1>
                        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i>
                        </div>
                        <small>总抓取条数</small>
                    </div>
                </div>
            </div>
            <div class="col-md-2">                        
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">月</span>
                        <h5>浏览量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">386,200</h1>
                        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i>
                        </div>
                        <small>总计浏览量</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">                        
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">月</span>
                        <h5>浏览量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">386,200</h1>
                        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i>
                        </div>
                        <small>总计浏览量</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4">                        
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">月</span>
                        <h5>浏览量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">386,200</h1>
                        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i>
                        </div>
                        <small>总计浏览量</small>
                    </div>
                </div>
            </div>
        </div> 

   
        <div class="row">
            <div class="col-lg-6">
                <dl class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>当前进度</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="graph_flot.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="graph_flot.html#">选项1</a>
                                </li>
                                <li><a href="graph_flot.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="progress progress-striped active m-b-sm">
                            <div style="width: 60%;" class="progress-bar"></div>
                        </div>
                        <small>当前已完成项目总进度的 <strong>60%</strong></small>
                    </div>
                    <div class="ibox-content" >
                        <div id="vertical-timeline" class="vertical-container dark-timeline">
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-briefcase"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>会议</h2>
                                    <p>上一年的销售业绩发布会。总结产品营销和销售趋势及销售的现状。
                                    </p>
                                    <a href="timeline_v2.html#" class="btn btn-sm btn-primary"> 更多信息</a>
                                    <span class="vertical-date">
                                        <small>2月3日</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon blue-bg">
                                    <i class="fa fa-file-text"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>给张三发送文档</h2>
                                    <p>发送上年度《销售业绩报告》</p>
                                    <a href="timeline_v2.html#" class="btn btn-sm btn-success"> 下载文档 </a>
                                    <span class="vertical-date">
                                        <small>2月3日</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon lazur-bg">
                                    <i class="fa fa-coffee"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>喝咖啡休息</h2>
                                    <p>喝咖啡啦，啦啦啦~~</p>
                                    <a href="timeline_v2.html#" class="btn btn-sm btn-info">更多</a>
                                    <span class="vertical-date"><small>2月2日</small></span>
                                </div>
                            </div>  
                        </div>
                    </div>
                </dl>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                
            </div>
            <div class="col-md-6">
                <div class="ibox-content">
                    <div>
                        <div>
                            <span>内存</span>
                            <small class="pull-right">10/200 GB</small>
                        </div>
                        <div class="progress progress-small">
                            <div style="width: 60%;" class="progress-bar"></div>
                        </div>

                        <div>
                            <span>带宽</span>
                            <small class="pull-right">20 GB</small>
                        </div>
                        <div class="progress progress-small">
                            <div style="width: 50%;" class="progress-bar"></div>
                        </div>

                        <div>
                            <span>占用</span>
                            <small class="pull-right">73%</small>
                        </div>
                        <div class="progress progress-small">
                            <div style="width: 40%;" class="progress-bar"></div>
                        </div>

                        <div>
                            <span>FTP</span>
                            <small class="pull-right">400 GB</small>
                        </div>
                        <div class="progress progress-small">
                            <div style="width: 20%;" class="progress-bar progress-bar-danger"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    </div>     
</div>

<script type="text/javascript">

    
    $.getJSON('/api/count').done(function (data){
        var num = data.airquality[0].count;
        $("#num_count_crawled").text(num);
    }).fail(function(jqXHR,textStatus){
        alert('Error: ' + jqXHR.status);
    });


</script>

{% endblock %}