{% extends "./base.html" %} {% block main %}
<script src="/static/js/echarts.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/china.js"></script>
<div class="wrapper wrapper-content"> 
    <div class="container">
       

        <div class="row">
            <div class="col-md-2">                        
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">总</span>
                        <h5>所有数据</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 id="all_count_crawled" class="no-margins">获取中...</h1>
                        <div class="stat-percent font-bold text-success">条 <i class="fa fa-bolt"></i>
                        </div>
                        <small>累计爬取条数</small>
                    </div>
                </div>
            </div>
            <div class="col-md-2">                        
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">总</span>
                        <h5>空气质量</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 id="air_count_crawled" class="no-margins">获取中...</h1>
                        <div class="stat-percent font-bold text-success">条<i class="fa fa-bolt"></i>
                        </div>
                        <small>累计爬取条数</small>
                    </div>
                </div>
            </div>
            <div class="col-md-2">                        
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">总</span>
                        <h5>北京房租</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 id="rent_count_crawled" class="no-margins">获取中...</h1>
                        <div class="stat-percent font-bold text-success">条 <i class="fa fa-bolt"></i>
                        </div>
                        <small>累计爬取条数</small>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">                        
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">总</span>
                        <h5>累计运行时长</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins" id="time_apply">获取中...</h1>
                        <div class="stat-percent font-bold text-success">分钟<i class="fa fa-bolt"></i>
                        </div>
                        <small>累计运行时长</small>
                    </div>
                </div>
            </div>
            <div class="col-md-3">                        
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">总</span>
                        <h5>累计浏览次数</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">287</h1>
                        <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i>
                        </div>
                        <small>累计浏览次数</small>
                    </div>
                </div>
            </div>
            
        </div> 

   
        <div class="row">
            <div class="col-lg-6">
                <dl class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>当前进度</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="graph_flot.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="graph_flot.html#">选项1</a>
                                </li>
                                <li><a href="graph_flot.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="progress progress-striped active m-b-sm">
                            <div style="width: 95%;" class="progress-bar"></div>
                        </div>
                        <small>当前已完成项目总进度的 <strong>95%</strong></small>
                    </div>
                    <div class="ibox-content" >
                        <div id="vertical-timeline" class="vertical-container dark-timeline">
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-briefcase"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>线上测试</h2>
                                    <p>历年空气质量数据爬取<br>
                                    空间数据可视化展示<br>
                                    修复测试出的BUG</p>
                                    <a href="timeline_v2.html#" class="btn btn-sm btn-primary"> 更多信息</a>
                                    <span class="vertical-date">
                                        <small>5月20日</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon blue-bg">
                                    <i class="fa fa-file-text"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>基础结构</h2>
                                    <p>基于NODEJS的MVC后台架构完成<br>
                                    坐标转换相关核心组件完成<br>
                                    空气质量网络爬虫完成</p>
                                    <a href="timeline_v2.html#" class="btn btn-sm btn-success"> 更多信息 </a>
                                    <span class="vertical-date">
                                        <small>4月15日</small>
                                    </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon lazur-bg">
                                    <i class="fa fa-coffee"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>项目初始化</h2>
                                    <p>开发环境搭建完成<br>
                                    租用域名和云服务器</p>
                                    <a href="timeline_v2.html#" class="btn btn-sm btn-info">更多信息</a>
                                    <span class="vertical-date"><small>3月1日</small></span>
                                </div>
                            </div>  
                        </div>
                    </div>
                </dl>
            </div>
            <div class="col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>数据分布</h5>
                        
                    </div>
                    <div class="ibox-content">
                         <div class="echarts" style="height:380px;" id="pie_data"></div>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>服务器状况</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="graph_flot.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="graph_flot.html#">选项1</a>
                                </li>
                                <li><a href="graph_flot.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div>
                            <div>
                                <span>内存</span>
                                <small class="pull-right" id="status_mem">获取中...</small>
                            </div>
                            <div class="progress progress-small">
                                <div id="progress_mem" style="width: 0%;" class="progress-bar"></div>
                            </div>

                            <div>
                                <span>带宽</span>
                                <small class="pull-right">20 M</small>
                            </div>
                            <div class="progress progress-small">
                                <div style="width: 50%;" class="progress-bar"></div>
                            </div>

                            <div>
                                <span>占用</span>
                                <small class="pull-right">73%</small>
                            </div>
                            <div class="progress progress-small">
                                <div style="width: 40%;" class="progress-bar"></div>
                            </div>

                            <div>
                                <span>FTP</span>
                                <small class="pull-right">400 GB</small>
                            </div>
                            <div class="progress progress-small">
                                <div style="width: 20%;" class="progress-bar progress-bar-danger"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>     
</div>

<script type="text/javascript">

    var num_air,num_rent,num_all;
    var arch,
        cpus,
        endianness,
        freemem,
        homedir,
        hostname,
        networkInterfaces,
        platform,
        release,
        tmpdir,
        totalmem,
        type,
        uptime; 
    setInterval(function(){
        
        $.getJSON('/api/airquality/count').done(function (data){
            num_air = parseInt(data.count[0].count);
                $.getJSON('/api/houserent/count').done(function (data){
                num_rent =  parseInt(data.count[0].count);
                $("#air_count_crawled").text(num_air);
                $("#rent_count_crawled").text(num_rent);
                $("#all_count_crawled").text(num_air + num_rent);
            }).fail(function(jqXHR,textStatus){
                alert('Error: ' + jqXHR.status);
            });
        }).fail(function(jqXHR,textStatus){
            alert('Error: ' + jqXHR.status);
        }); 

        //获取计算机相关信息
        
        $.getJSON('/api/deviceStatus').done(function (data){
            freemem = (parseFloat(data.freemem)/(1024 * 1024 * 1024)).toFixed(1); ;
            totalmem = (parseFloat(data.totalmem)/(1024 * 1024 * 1024)).toFixed(1); ;
            usedRatio_mem = (freemem/totalmem*100).toFixed(1); 
            $('#status_mem').text( (totalmem - freemem).toFixed(1) + "/" + totalmem +"G" );
            $('#progress_mem').css('width',(100 - usedRatio_mem) + '%');


        }).fail(function(jqXHR,textStatus){
            alert('Error: ' + jqXHR.status);
        }); 

        var nowTime = new Date();
        var historyTime = new Date('2017/06/01 18:00');
        var spanTime = nowTime.getTime() - historyTime.getTime();
        var day = Math.floor(spanTime / (1000*60));
        $('#time_apply').text(day);
        

    },10000);

    var pie_data = echarts.init(document.getElementById("pie_data"));
     $.getJSON('/api/airqualitys/city/北京').done(function (data){

            pie_data.hideLoading();
            option_pie = {
                tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data:['空气质量','租房信息','其他','2013年','2014年','2015年','2016年','2017年']
            },
            series: [
                {
                    name:'访问来源',
                    type:'pie',
                    selectedMode: 'single',
                    radius: [0, '30%'],

                    label: {
                        normal: {
                            position: 'inner'
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {value:1335, name:'空气质量', selected:true},
                        {value:679, name:'租房信息'},
                        {value:248, name:'其他'}
                    ]
                },
                {
                    name:'访问来源',
                    type:'pie',
                    radius: ['40%', '55%'],

                    data:[
                        {value:5714, name:'2013年'},
                        {value:68571, name:'2014年'},
                        {value:68571, name:'2015年'},
                        {value:68571, name:'2016年'},
                        {value:34285, name:'2017年'}
                      
                    ]
                }
            ]
            }

            pie_data.setOption( option_pie);
     }).fail(function(jqXHR,textStatus){
        alert('Error: ' + jqXHR.status);
     });

</script>

{% endblock %}